.about {
  width: 100%;
  padding-bottom: 20px;
}
.about h1 {
  width: 100%;
  text-align: center;
  margin: 10px 0px;
  color: #a9a9a9;
  font: 300 60px 'Oswald', sans-serif;
}
.about_main {
  margin: 30px;
  overflow: hidden;
}
.about_contents{
  width: 50%;
  margin: auto;
  float: left;
  text-align: center;
}
.about_contents img {
  width: 80%;
  margin: auto;
}
.about_contents p {
  width: 80%;
  margin: 30% auto;
  white-space: pre-wrap;
  font-size: large;
  color: #a9a9a9;
}
