.news {
  width: 80%;
  margin: auto;
}
.news h1 {
  width: 100%;
  text-align: center;
  color: #a9a9a9;
  font: 300 60px 'Oswald', sans-serif;
}
.news_contents{
  width: 80%;
  margin: auto;
}
.news_title p{
  color: #a9a9a9;
  font-size: x-large;
}
.news_body p {
  color: #a9a9a9;
  font-size: medium;
}
/*.news_contents ul {
  height: 300px;
  padding: 10px 10px 10px 30px;
  text-align: center;
}
.news_contents ul li {
  width: 25%;
  float: left;
  list-style: none;
  text-decoration: none;
}
.news_contents ul li img {
  width: 95%;
}
/*-----side_contents-----*/
/*.side_contents {
  width: 20%;
  float: right;
  display:inline-block;
}
.side_contents ul li {
list-style: none;
}
